<div class="row g-4">
  <div class="col-5">
    <img src="{{ include.img }}" class="img-fluid rounded rounded">
  </div>
  <div class="col-7 table-responsive">
    <table class="table table-hover">
      <tbody>
        <tr>
          <th scope="row" class="pe-0" style="min-width: 30px;"><img src="/assets/potion-shop.png" width="22px" height="auto" class="img-fluid rounded" alt="icon of an adorable potion shop"></th>
          <td class="fst-italic"><a href="{{ include.url }}">{{ include.roastery }}</a><span class="fs-6 text-body-secondary" style="margin-left: 4pt;">{{ include.roasterylocation }}</span></td>
        </tr>
        <tr>
          <th scope="row" class="pe-0" style="min-width: 30px;"><img src="/assets/pin.png" width="22px" height="auto" class="img-fluid rounded" alt="pixelated icon of a push pin;" style="padding-left:2px;"></th>
          <td class="fst-italic">{{ include.region}}<span class="fs-6 text-body-secondary" style="margin-left: 4pt;">{{ include.elevation}} masl</span></td>
        </tr>
        <tr>
          <th scope="row" class="pe-0" style="min-width: 30px;"><img src="/assets/microscope.png" width="20px" height="auto" class="img-fluid rounded" alt="icon of a cauldron;"></th>
          <td class="fst-italic">{{ include.variety}}<span class="fs-6 text-body-secondary" style="margin-left: 4pt;">{{ include.harvest}} harvest</span></td>
        </tr>
        <!--<tr>
          <th scope="row" class="pe-0" style="min-width: 30px;"><img src="/assets/donut.png" width="21px" height="auto" class="img-fluid rounded me-0" alt="pixelated icon of a donut;"></th>
          <td class="fst-italic">{{ include.notes }}<span class="fs-6 text-body-secondary" style="margin-left: 4pt;">{% if include.tasted == true -%}taseted{%- else -%}advertised{%- endif -%}</span></td>
        </tr>-->
        <tr>
          <th scope="row" class="pe-0" style="min-width: 30px;"><img src="/assets/price-tag.png" width="21px" height="auto" class="img-fluid rounded" alt="pixelated icon of a price tag"></th>
          <td class="fst-italic">{{ include.cost }}<span class="fs-6 text-body-secondary" style="margin-left: 4pt;">{{ include.acquisition }}</span></td>
        </tr>
        <tr>
          <th scope="row" class="pe-0" style="min-width: 30px;"><img src="/assets/cauldron.png" width="21px" height="auto" class="img-fluid rounded" alt="icon of a cauldron" style="padding-left:1px;"></th>
          <td class="fst-italic">{{ include.recipe }}<span class="fs-6 text-body-secondary" style="margin-left: 4pt;">grind step {{ include.grind }}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>