    <div class="container d-print-none p-0 m-0">
        <div class="d-flex flex-column flex-shrink-0 p-4 bg-body-tertiary" style="width: 190px;">
          <ul class="nav nav-pills flex-column mb-auto">
            <span class="fs-5 d-flex align-items-center mb-3 mb-md-0 fst-italic">Ding</span>
          <hr>
            <li class="nav-item">
    {%- if page.url == '/' %}
              <a href="{% link index.html %}" class="nav-link active" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
    {%- else %}
              <a href="{% link index.html %}" class="nav-link">Home</a>
    {%- endif %}
          </li>
            <li class="nav-item">
                <a class="nav-link" href="{% link ding-cv.pdf %}" target="_blank">CV</a>
            </li>
            <li class="nav-item">
    {%- if page.url == '/resources.html' %}
              <a href="{% link resources.md %}" class="nav-link active" aria-current="page">Resources <span class="visually-hidden">(current)</span></a>
    {%- else %}
              <a href="{% link resources.md %}" class="nav-link">Resources</a>
    {%- endif %}
            </li>
            <li class="nav-item">
    {%- if page.url == '/' %}
              <a href="{% link blog.md %}" class="nav-link active" aria-current="page">Blog <span class="visually-hidden">(current)</span></a>
    {%- else %}
              <a href="{% link blog.md %}" class="nav-link">Blog</a>
    {%- endif %}
            </li>
            <li class="nav-item">
    {%- if page.url == '/' %}
              <a href="{% link handouts.md %}" class="nav-link active" aria-current="page">Handouts <span class="visually-hidden">(current)</span></a>
    {%- else %}
              <a href="{% link handouts.md %}" class="nav-link">Handouts</a>
    {%- endif %}
            </li>
          </ul>
          <hr>
          <div class="dropdown"><a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Dark Theme</a>
            <ul class="dropdown-menu text-small shadow">
              <li><a class="dropdown-item" href="#" data-bs-theme-value="dark">On</a></li>
              <li><a class="dropdown-item" href="#" data-bs-theme-value="light">Off</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#" data-bs-theme-value="auto">Auto</a></li>
            </ul>
          </div>
        </div>
    </div>