{%- if include.tag -%}
  {%- unless include.tag == "pinned" -%}
<h2>{{ include.tag }}</h2>
  {%- endunless -%}
  {%- for post in site.posts -%}
    {%- if post.categories contains page.posts_category -%}
      {%- if post.tags contains include.tag %}
{%- if include.tag == "pinned" -%}<h2 class="mb-1" style="text-transform: none;">{%- else -%}<h3 class="mb-1">{%- endif -%}<span class="me-2"><a href="{{ post.url }}" target="_blank">{%- if include.tag == "pinned" -%}<img src="/assets/pin.png" width="20px" height="auto" class="img-fluid rounded" alt="pinned"><span class="ps-1"></span>{% endif -%}{{ post.title }}</a></span><small>{%- for tag in post.tags -%}<span class="badge rounded-pill text-bg-primary px-2 me-1 align-top" style="line-height: 1.2; margin-top: 1.5pt;"><a class="link-light" href="{% link blog/tags.md %}{{ tag | prepend: '#' }}">{{ tag | prepend: '#' }}</a></span>{%- endfor -%}</small>{%- if include.tag == "pinned" -%}</h2>{%- else -%}</h3>{%- endif -%}
        {%- unless page.posts_category == "nodate" -%}
<p class="mb-3"><small class="text-body-secondary" style="font-style: italic;">{{ post.date | date: "%a, %b %e, %Y" }}</small></p>
        {%- endunless -%}
        {%- if post.description -%}
<p style="margin-bottom: 1.85rem;">{{ post.description }}</p>
          {%- else -%}
<div style="margin-bottom: 1.85rem;"></div>
       {%- endif -%}
     {%- endif -%}
   {%- endif -%}
  {%- endfor %}
{%- else %}
  {%- for post in site.posts -%}
     {%- if post.categories contains page.posts_category %}
       {%- unless post.tags contains "pinned" -%}
<h2 class="mb-1" style="text-transform: none;"><span class="me-2"><a href="{{ post.url }}" target="_blank">{{ post.title }}</a></span><small>{%- for tag in post.tags -%}<span class="badge rounded-pill text-bg-primary px-2 me-1 align-top" style="line-height: 1.2; margin-top: 1.5pt;"><a class="link-light" href="{% link blog/tags.md %}{{ tag | prepend: '#' }}">{{ tag | prepend: '#' }}</a></span>{%- endfor -%}</small></h2>
       {%- unless page.posts_category == "nodate" -%}
<p class="mb-3"><small class="text-body-secondary" style="font-style: italic;">{{ post.date | date: "%a, %b %e, %Y" }}</small></p>
       {%- endunless -%}
       {%- if post.description -%}
<p style="margin-bottom: 1.85rem;">{{ post.description }}</p>
        {%- else -%}
<div style="margin-bottom: 1.85rem;"></div>
       {%- endif -%}
      {%- endunless -%}
    {%- endif -%}
  {%- endfor %}
{%- endif -%}