<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}" data-bs-theme="dark">
  <head>
{% include meta.html %}

    <title>Ding · Homepage</title>

{% include css.html %}

{% include favicons.html %}

    <!-- Mastodon -->
    <link href="https://tech.lgbt/@radtransfem" rel="me">

{% include open-graph.html %}

{% include GA.html %}
  </head>
  <body>

    <!--
      I owe the design of this page in very large part to Sara Bernstein (https://www3.nd.edu/~sbernste/), Sarah Moss (http://www-personal.umich.edu/~ssmoss/), and Lauren N. Ross (https://sites.socsci.uci.edu/~rossl/).
    -->

{% include navbar.html %}

    <main id="content" role="main" class="container maincontent"  style="padding-bottom: 3rem;">
      <div class="container px-4">
{{ content }}
      </div>
    </main>

    <footer class="container maincontent">
      <div class="row justify-content-center" align-items-start gx-5 mt-2">
      <div class="col-12 col-lg-10">
        {% include footer.html %}
      </div>
      </div>
    </footer>

{% include scripts.html %}
  </body>
</html>