---
layout: default
---

<p class="d-none d-print-flex">Ding (<a href="{{ page.url }}">{{ site.url }}{{ page.url }}</a>)</p>

{%- if page.categories %}
{%- capture category_name -%}{{ page.categories | escape | split: ', ' | first | remove: '[&quot;' | remove: '&quot;]' }}{%- endcapture -%}
<p style="margin-bottom: 1.75rem;"><a class="btn btn-outline-primary btn-sm d-print-none" role="button" href="{{ category_name | append: '.html' | relative_url }}"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/></svg><span class="ps-1">{{ category_name | smartify | capitalize }}</span></a></p>
{%- endif %}

<h1>{{ page.title | smartify}}</h1>

{%- if page.punchline -%}
<p style="font-size: 0.95rem;"><em>{{ page.punchline | smartify}}</em></p>
{%- endif -%}

{% unless page.date == nil or page.tags contains "nodate" -%}
<p class="mt-4 mb-3"><small>{%- for tag in page.tags -%}<a style="padding-right: 7px;" href="{% link blog/tags.md %}{{ tag | prepend: '#' }}">{{ tag | prepend: '#' }}</a>{%- endfor -%}</small></p>
<p class="text-body-secondary mb-1"><small >Posted: {{ page.date | date: "%a, %b %e, %Y" }}{%- if page.updated -%}<br />Updated: {{ page.updated | date: "%a, %b %e, %Y" }}{%- endif -%}</small></p>
{%- endunless %}

<!--
<div class="d-grid d-lg-block d-print-none flex-wrap" style="margin-bottom: 2.25rem;">
  <button class="btn btn-outline-primary btn-sm" type="button" onClick="window.print()"><span>print this page</span></button>
</div>
-->

{% include share-buttons.html %}

<div style="margin-bottom: 2.25rem;"></div>

{{ content }}